{% extends 'basic.html' %}
{%block title%}About{%endblock%}

{%block head%}
<link rel="stylesheet" href="/static/css/About.css?{% now "U" %}" type="text/css" />
{%endblock%}


{%block body%}


<div id="dark_layer"></div>

<img src="https://miro.medium.com/max/13608/1*7aJPlxn8gwhI7JjcBFr-tQ.jpeg" id="backgroundImage">


<a href="https://www.instagram.com/sukhman_singh4/">
    <img src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png" id="instaLogo">
</a>

<a href="https://twitter.com/Sukhman17795004">
    <img src="https://www.freepngimg.com/thumb/advertising/75961-twitter-logo.png-others-hq-image-free-png.png" id="twitterLogo">
</a>


    <h1 id="h1Tag">A little about me</h1>

    <ul id="listTag">
        <li>  My name is Sukhmanpreet Singh. People just call me Sukhman.</li>
        <li> I have been coding since 2016. My passion for coding is endless. </li>
        <li> I have worked on Web Development, Game Development, App Development.</li>
        <li>Languages that I know are Python, C#, HTML, Swift.</li>
    </ul>




{%endblock%}
