{% extends 'basic.html' %}


{%block title%}Contact{%endblock%}

{%block head%}
<link rel="stylesheet" href="/static/css/Contact.css?{% now "U" %}" type="text/css" />
{%endblock%}

{%block body%}


<div id="dark_layer"></div>

<a href="https://www.instagram.com/sukhman_singh4/">
    <img src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png" id="instaLogo">
</a>

<a href="https://twitter.com/Sukhman17795004">
    <img src="https://www.freepngimg.com/thumb/advertising/75961-twitter-logo.png-others-hq-image-free-png.png" id="twitterLogo">
</a>

<a href = "https://github.com/SukhmanSingh2775">
    <img src = "https://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" id="githubLogo">

</a>

<div id = 'main_container'>

    <p id="ContactInfo">
         &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspContact me:
        <br>
        SukhmanSingh1603@gmail.com
        <br>
        <a href = 'https://www.instagram.com/sukhman_singh4/'> Instagram/Sukhman_Singh4</a>
        <br>
        <a href= "https://twitter.com/Sukhman17795004">Twitter/SukhmanSingh </a>
        <br>
        <a href = "https://github.com/SukhmanSingh2775">Github/SukhmanSingh2775</a>

    </p>


</div>




{%endblock%}
