#dark_layer{
    width: 3072px;
    height: 1920px;
    position: fixed;
    background-color: black;
    opacity: 0.9;
}

#ContactInfo{
    position: fixed;
    top: 45%;
    left: 45%;
    margin-top: -150px;
    margin-left: -150px;
    color: white;
    font-size: 40px;
}

#instaLogo{
    width: 42px;
    height: 42px;
    position: fixed;
    top: 43.3%;
    left: 35%;
    opacity: 1;
    background-image: url("https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png");

}

#twitterLogo{
    width: 57px;
    height: 57px;
    position: fixed;
    top: 48%;
    left: 34.6%;
    opacity: 1;
    background-image: url("https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c521.png");

}


a {
  color: gray;
}

a:hover{
    color: red;
}
